* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: white;
}

body {
    background-color: bisque;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-container {
    width: 200px;
    height: 200px;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.img-container-2 {
    width: 101px;
    height: 101px;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        border: none;
        object-fit: cover;
    }
}

table {
    border-collapse: collapse;
}

td {
    width: 33px;
    height: 33px;
    border: 2px solid black;
}

.container-type-1,
.container-type-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 200px;
    height: 200px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner {
    width: 70%;
    height: 70%;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    .circle {
        width: 35%;
        height: 35%;
        border-radius: 50%;
        background-color: red;
    }
}

.yellow-arrow {
    background-color: yellow;
}


.green-arrow {
    background-color: #02A04B;
}


.blue-arrow {
    background-color: #22409A;
}


.red-arrow {
    background-color: #EB1C24;
}

td{
    position: relative;
}

.green-stop-circle{
    width: 15px;
    height: 15px;
    background: #02A04B;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.red-stop-circle{
    width: 15px;
    height: 15px;
    background: #EB1C24;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.blue-stop-circle{
    width: 15px;
    height: 15px;
    background: #22409A;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.yellow-stop-circle{
    width: 15px;
    height: 15px;
    background: yellow;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

